.bookmark {
  position: absolute;
  top: -0.5rem;
  right: 1rem;
  height: 2rem;
  aspect-ratio: 1;
}

.bookmark-checkbox + label {
  fill: var(--clr-black);
}

.bookmark-checkbox:checked + label {
  fill: var(--clr-accent-light);
}

.bookmark:hover {
  cursor: pointer;
}
