.dialog-button {
  width: 33%;
  height: 3rem;
  padding: 1rem;
}
.question-dialog {
  width: 375px;
  background: var(--clr-primary-light);
  border: none;
  border-radius: 1rem;
}

.question-dialog::backdrop {
  background: var(--clr-accent-light);
  opacity: 0.2;
}
