.profile-header {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2rem;
}

.profile-img {
  width: 20%;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid white;
}

.profile-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.question-button {
  margin-block: 0.5rem;
  width: 3rem;
  height: 1.5rem;
  border-radius: 1em;
  margin-right: 1em;
  border-radius: 50px;
  border: none;
  background-color: var(--clr-accent-light);
  box-shadow: var(--clr-box-shadow) 1.95px 1.95px 2.6px;
}
